asgiref==3.7.2
data==0.4
decorator==5.1.1
Django==4.2.2
django-cors-headers==4.1.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
funcsigs==1.0.2
mysql-connector-python==8.0.26
Pillow==9.5.0
protobuf==4.23.3
psycopg2==2.9.6
psycopg2-binary==2.9.6
PyJWT==1.7.1
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
tz==0.2.2
tzdata==2023.3
